@font-face {
    font-family:didot ;
    src: url(/font-family/Didot_Regular.ttf);
}

@font-face {
    font-family:ryumin ;
    src: url(/font-family/GenRyuMin-M.ttc);
}

@font-face {
    font-family:hind ;
    src: url(/font-family/Hind-Regular.ttf);
}

@font-face {
    font-family:playfair ;
    src: url(/font-family/PlayfairDisplay-VariableFont_wght.ttf);
}