@import '_var';

@mixin font($ff: '標楷體', $minfz: 12px, $nowfz: 1.5vw, $maxfz: 64px, $fw: normal, $c: #000) {
    font-family: $ff;
    font-size: clamp($minfz, $nowfz, $maxfz);
    font-weight: $fw;
    color: $c;
}

@mixin picsize($minW, $nowW, $maxW) {
    width: clamp($minW, $nowW, $maxW);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;

    .menu-btn {
        width: 40px;
        height: 27.5px;
        position: absolute;
        top: 104px;
        left: 91.6%;
    }
}

main {

    svg {
        @include picsize(289px, 86.46vw, 1660px);
        position: absolute;
        top: 0;
        left: 0;
    }

    .photographer_picture {
        @include picsize(157.08px, 24.11vw, 463px);
        position: absolute;
        top: 413px;
        left: 13.5%;
    }

    .about_photographer {
        h2 {
            @include font(playfair, 20px, 1.875vw, 36px, 600, black);
            position: absolute;
            top: 425px;
            left: 44.06%;
        }
    }

    .about_photographer {
        h3 {
            @include font(hind, 12px, 1.25vw, 24px, 400, black);
            font-style: normal;
            position: absolute;
            top: 505px;
            left: 44.06%;
        }
    }

    .about_photographer {
        span::before {
            content: '|';
        }
    }

    .about_photographer {
        p {
            @include font(hind, 12px, 1.25vw, 24px, 400, black);
            font-style: normal;
            position: absolute;
            top: 606px;
            left: 44.06%;
            line-height: 40px;
        }
    }

    .about_photographer {
        a {
            @include font(playfair, 12px, 1.25vw, 20px, 600, #898989);
            font-style: normal;
            position: absolute;
            top: 889px;
            left: 74.95%;
            line-height: 30px;
            letter-spacing: 0.015em;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    .sub-content {
        // height: 100vh;

        .bgc-black-box {
            @include picsize(205px, 32.76vw, 629px);
            height: 165px;
            background-color: #000;
            position: absolute;
            top: 1269px;
            left: 8.91%;

            h2 {
                @include font(didot, 40px, 6.25vw, 120px, 400, white);
                font-style: italic;
                position: absolute;
                line-height: 150px;
            }
        }

        p {
            @include font(didot, 30px, 5.2vw, 100px, 700, black);
            @include picsize (50px,48.9vw,939px);
            font-style: italic;
            position: absolute;
            top: 1434px;
            left: 10.21%;
        }

        .upper-right-portrait {
            @include picsize(172px, 22.4vw, 430px);
            position: absolute;
            top: 1227px;
            left: 73.02%;
        }

        .upper-left-portrait {
            @include picsize(139px, 15.1vw, 290px);
            position: absolute;
            top: 1310px;
            left: 54.8%;
        }

        .lower-middle-portrait {
            @include picsize(135px, 15.05vw, 289px);
            position: absolute;
            top: 1740px;
            left: 50.93%;
        }

        .lower-right-portrait {
            @include picsize(115px, 15.1vw, 304px);
            position: absolute;
            top: 1658px;
            left: 65.67%;
        }

        .lower-left-portrait-1 {
            @include picsize(116px, 15.05vw, 289px);
            position: absolute;
            top: 1805px;
            left: 21.04%;
        }

        .lower-left-portrait-2 {
            @include picsize(116px, 15.05vw, 289px);
            position: absolute;
            top: 1672px;
            left: 34.63%;
        }
    }
}

footer {
    .vertical-line {
        width: 100%;
        height: 335px;
        background: linear-gradient(#D9D9D9, #D9D9D9) no-repeat center/2px 100%;
        position: absolute;
        top: 2160px;
        // left: 978px;
    }

    small {
        @include font(playfair, 10px, 1.25vw, 24px, 700, #898989);
        line-height: 32px;
        letter-spacing: 0.02em;
        position: absolute;
        top: 2602px;
        left: 35.2%;
    }
}