@import '_var';

@mixin font($ff: '標楷體', $minfz: 12px, $nowfz: 1.5vw, $maxfz: 64px, $fw: normal, $c: #000) {
    font-family: $ff;
    font-size: clamp($minfz, $nowfz, $maxfz);
    font-weight: $fw;
    color: $c;
}

@mixin picsize($minW, $nowW, $maxW) {
    width: clamp($minW, $nowW, $maxW);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .upper-right-pic {
        @include picsize(123px, 36.72vw, 705px);
        position: absolute;
        top: 0px;
        left: 44.90%;
    }

    .menu-btn {
        width: 40px;
        height: 27.5px;
        position: absolute;
        top: 104px;
        left: 91.6%;

        @media (max-width:375px) {
            top: 19px;
        }
    }

    .blog-logo {
        @include picsize(164px, 35.1vw, 674px);
        position: absolute;
        top: 321px;
        left: 19.4%;

        @media (max-width:922px) {
            top: 140px;
        }

        @media (max-width:375px) {
            top: 36px;
            left: 50px;
        }
    }

    .flower-pic {
        @include picsize(59px, 16.67vw, 320px);
        position: absolute;
        top: 604px;
        left: 0;

        @media (max-width:922px) {
            top: 292px;
        }

        @media (max-width:375px) {
            top: 105px;
        }
    }

    .blog_graphics {
        .middle-photographer-pic {
            @include picsize(68px, 21.5vw, 413px);
            position: absolute;
            top: 934px;
            left: 28.49%;

            @media (max-width:922px) {
                top: 600px;
            }

            @media (max-width:375px) {
                top: 159px;
            }
        }

        .graphics_text {
            position: absolute;
            top: 1001px;
            left: 52.86%;

            h2 {
                @include font(playfair, 12px, 1.88vw, 36px, 700, #898989);
                line-height: 100px;

                @media (max-width:922px) {
                    line-height: 80px;
                }

                @media (max-width:375px) {
                    line-height: 30px;
                }
            }

            p {
                @include font(hind, 6.20513px, 1.25vw, 24px, 400, #000000);
                line-height: 40px;

                @media (max-width:922px) {
                    line-height: 25px;
                }

                @media (max-width:375px) {
                    line-height: 9px;
                }
            }

            @media (max-width:922px) {
                top: 585px;
            }

            @media (max-width:375px) {
                top: 159px;
            }
        }
    }
}


main {
    .main_semicircle {
        img {
            @include picsize(282px, 66.4vw, 1275px);
            position: absolute;
            top: 1789px;
            left: 16.35%;

            @media (max-width:922px) {
                top: 1170px;
            }

            @media (max-width:375px) {
                top: 359px;
            }
        }
    }

    h2 {
        @include font(playfair, 30px, 5.21vw, 100px, 400, #000000);
        font-style: italic;
        text-transform: capitalize;
        line-height: 120px;
        // width: 958px;
        // height: 447px;
        position: absolute;
        top: 1665px;
        left: 50.1%;

        @media (max-width:922px) {
            top: 930px;
        }

        @media (max-width:375px) {
            top: 300px;
            line-height: 25px;
        }
    }

    .quotations {
        // width: 100%;
        height: 497px;
        @include picsize(399px, 100vw, 1920px);
        background-color: #2c2c2c;
        position: absolute;
        top: 2365px;

        .left-quote {
            @include font(playfair, 12px, 1.88vw, 36px, 700, #FFFFFF);
            text-transform: capitalize;
            line-height: 100px;
            position: absolute;
            top: 89px;
            left: 7.24%;

            @media (max-width:922px) {
                top: 19px;
            }

            @media (max-width:375px) {
                line-height: 20px;
                top: 14px;
                left: 15%;
            }
        }

        .right-quote {
            @include font(playfair, 12px, 1.88vw, 36px, 700, #FFFFFF);
            text-transform: capitalize;
            line-height: 100px;
            position: absolute;
            top: 89px;
            left: 62.4%;

            @media (max-width:922px) {
                top: 19px;
            }

            @media (max-width:375px) {
                line-height: 14px;
                top: 34px;
                left: 52%;
            }
        }

        .quote-text {
            @include font(hind, 10px, 1.25vw, 24px, 400, #FFFFFF);
            width: 604px;
            height: 160px;
            line-height: 40px;
            position: absolute;
            top: 266px;
            left: 7.19%;

            @media (max-width:922px) {
                width: 300px;
                top: 150px;
                line-height: 30px;
            }

            @media (max-width:375px) {
                width: 154px;
                height: 60px;
                line-height: 10px;
                top: 66px;
                left: 41px;
            }
        }

        .mountain-scenery {
            @include picsize(170px, 45.99vw, 883px);
            position: absolute;
            top: 220px;
            left: 44.635%;

            @media (max-width:922px) {
                top: 160px;
            }

            @media (max-width:375px) {
                top: 66px;
                left: 207px;
            }
        }

        @media (max-width:922px) {
            height: 297px;
            top: 1470px;
        }

        @media (max-width:375px) {
            height: 160px;
            top: 489px;
        }
    }

    .inspiring-text {
        @include font(hind, 10px, 1.25vw, 24px, 400, #000000);
        width: 604px;
        height: 800px;
        position: absolute;
        top: 2972px;
        left: 7.24%;
        line-height: 40px;

        @media (max-width:922px) {
            width: 300px;
            top: 1800px;
            line-height: 20px;
        }

        @media (max-width:375px) {
            width: 153px;
            height: 300px;
            top: 677px;
            line-height: 15px;

            br {
                display: none;
            }
        }
    }

    .inspiring-text span {
        @media (max-width:375px) {
            position: absolute;
            display: block;
            width: 160px;
            height: 135px;
            left: 191px;
            top: 140px;
            line-height: 15px;
        }
    }

    .taichung-logo {
        @include picsize(258px, 38.7vw, 743px);
        position: absolute;
        top: 3881px;
        left: 6.25%;

        @media (max-width:922px) {
            top: 2300px;
        }
        @media (max-width:375px) {
            top: 1012px;
            left: 65px;
        }
    }

    .goal-text {
        @include font(playfair, 12px, 1.88vw, 36px, 400, rgba(0, 0, 0, 0.5));
        position: absolute;
        top: 4104px;
        left: 14.947%;
        text-transform: capitalize;
        font-style: italic;

        @media (max-width:922px) {
            top: 2430px;
        }

        @media (max-width:375px) {
            display: none;
        }
    }

    address {
        @include font(playfair, 12px, 1.88vw, 36px, 400, #000000);
        @media (max-width:1920px) {
            display: none;
        }
        @media (max-width:375px) {
            position: absolute;
            display: block;
            top: 1085px;
            left: 65px;
        }
    }
    address span {
        display: block;
        text-align: center;
        line-height: 12px;
    }
}

small {
    @include font(playfair, 10px, 1.25vw, 24px, 700, #898989);
    line-height: 32px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 4427px;
    left: 34.27%;

    @media (max-width:922px) {
        top: 2600px;
    }
    @media (max-width:375px) {
        top: 1233px;
        left: 72px;
    }
}